<%= render 'layouts/c_header' %>
<div class="containar">
  <div class="row-title">
    <div class="col-lg-12 m-3 text-center">
      <div class="team-name"><%= @team.name %></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 m-3">
      <%= attachment_image_tag @team, :team_image, :fill, 750, 450, format: 'jpeg', fallback: "no_image.jpg" %>
    </div>
    <div class="col-lg-3 m-3 text-center">
        <% if current_customer.following_team?(@team) %>
      <button type="button" class="btn btn-primary btn-lg active"><%= link_to "Talk room", room_path(@team.room.id) %></button>
        <% else %>
      <button type="button" class="btn btn-lg btn-primary" disabled="disabled">Talk room</button>
        <% end %>

      <div class="row">
        <h2>メンバー一覧</h2>
          <% @team_follower.each do |team_follower| %>
        <div class="col-lg-4 m-2 p-0">
          <%= attachment_image_tag team_follower, :profile_image, :fill, 130, 130, format: 'jpeg',class:"rounded-circle profile-image", fallback: "no_image.jpg",size:'130x130' %>
          <%= team_follower.last_name %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>




<div class="row-follow">
                <div class="col-lg-12 text-center">
                    <div class="inline-block">
                        <% if current_customer.following_team?(@team) %>
                        <button type="button" class="btn-outline-light btn"><%= link_to 'folloowを外す', customer_team_relationship_path(current_customer,team_id:@team), method: :delete %></button>
                      <% else %>
                        <button type="button" class="btn-outline-light btn">
                       <%= link_to 'followする', customer_team_relationships_path(current_customer,team_id:@team), method: :post %></button>
                        <% end %>
                    </div>
                    <div class="">follower:<%= @team.follower_customers.count %>
                </div>
            </div>

             <%= link_to "編集する",edit_team_path(@team.id), class:"col-md-12 btn btn-secondary" %>





