<%= render 'layouts/c_header' %>
<div class="containar">
    <div class="row">
        <div class="table-responsive,col-lg-12">
        	 <%= attachment_image_tag @team, :team_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
        	<table class="table">
        		<tr>
              <td><%= @team.name %></td>
        			<td><%= @team.team_score %></td>
			 	</tr>
			</table>

    	</div>
  	</div>
     <div class="row">
         <table>
            <tbody>
              <tr>
                <td>0月0</td>
                <td><%=%>00 VS 00</td>
                <td><%=%>勝ち敗け引き分け </td>
              </tr>
             </tbody>
          </table>
          
          <%= link_to "hoge", room_path(@team.room.id) %>
     </div>
</div>
