
<div class="containar">
    <div class="row">
        <div class="table-responsive,col-lg-12">
        	<table class="table">
        		<tr>
                    <td><%= @recruitment.date %></td>
        			<td><%= @recruitment.customer.last_name %></td>
        			<td><%= @recruitment.title %></td>
        			<td><%= @recruitment.body %></td>
			 	</tr>
			</table>

    	</div>
  	</div>
    <div class="row">
        <% if @recruitment.customer == current_customer %>
            <%= link_to "変更", edit_recruitment_path, class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench"%>
            <button type="button" class="btn btn-success btn-sm">
            <%= link_to "削除",recruitment_path(@recruitment), method: :delete %>
          </button>
        <% else %>
　　　　　　　<%= link_to "チームを見る",homes_path, class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench"%>
        <% end %>
    </div>
</div>

