
<div class="containar">
    <div class="row">
        <div class="table-responsive,col-lg-12">
        	<table class="table">
        		<tr>
                    <td><%= @recruitment.date %></td>
        			<td><%= @recruitment.customer.last_name %></td>
        			<td><%= @recruitment.title %></td>
        			<td><%= @recruitment.body %></td>
			 	</tr>
			</table>

    	</div>
  	</div>
    <div class="row">
        <% if @recruitment.customer == current_customer %>
            <%= link_to "変更する", edit_recruitment_path, class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench"%>
        <% else %>
            <%= form_for(@match_history,url:match_history_path,method: :post) do |f| %>
            <%= f.hidden_field :recruitment_id, :value => @recruitment.id %>
            <%= f.submit "申し込む" ,class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
            <% end %>
        <% end %>
    </div>
</div>

