<h1>Customers#edit</h1>
<p>Find me in app/views/customers/edit.html.erb</p>
    <%= form_for(@customer) do |f| %>
        <%= f.attachment_field :profile_image %>
                <%= f.text_field :last_name %>
                <%= f.text_field :first_name %>
                <%= f.text_field :last_name_kana %>
                <%= f.email_field :email %>
                <%= f.number_field :running_score, step: '0.01' %>
                <%= f.number_field :jumping_score, step: '0.01' %>
                <%= f.number_field :agility_score %>
                <%= f.number_field :sit_ups_score %>
                <%= f.number_field :grip_strength_score, step: '0.01' %>
    <%= f.submit "編集内容を保存する",class:"btn btn-md btn-primary" %>
    <% end %>