<%= render 'layouts/c_header' %>
<div class="container">
    <div class="row mt-5 ">
        <div class="col-3"></div>
        <div class="col-6 text-center"><h1>MENBER<h1><h4><small class="text-muted text-center">メンバー</small></h4></div>
        <div class="col-3 mt-5">
            <%= form_tag(@customers_path,:method => 'get') do %>
            <%= text_field_tag :search %>
            <%= submit_tag '検索', :name => nil %>
            <% end %>
        </div>
    </div>
    <div class="row">
    	<% @customers.each do |customer| %>
        <div class="col-lg-3 col-md-6 col-sm-6 mt-5">
        	<div class="card card-starts">
        		<div class="card-header card-header-warning card-header-icon">
        			<div class="card-icon">
        			<%= attachment_image_tag customer, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "no_image.jpg",size:'80x80' %>
        			</div>
        			<h5 class="card-category"><%= link_to customer.last_name,customer_path(customer) %></h5>
					<h5 class="card-title"><%= customer.set_total %><small>rate</small></h5>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>



