<%= render 'layouts/c_header' %>
<div class="wrapper">
    <div class="page-header-image" data-parallax="true" style="background-image: url(&quot;../assets/img3.jpg&quot;);">
        <div class="container">
            <div class="row-top">
                <div class="profile-image">
                    <%= attachment_image_tag @customer, :profile_image, :fill, 300, 300, format: 'jpeg',class:"rounded-circle profile-image", fallback: "no_image.jpg",size:'300x300' %>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="profile-name">
                    <%= @customer.last_name %><%= @customer.first_name %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="score"><%= @customer.set_total %><small>Total</small></h1>
                </div>
            </div>
            <div class="row-follow">
                <div class="col-lg-12 text-center">
                    <div class="inline-block">following:<%= @customer.follower.count %></div>
                    <div class="inline-block">
                      <% if current_customer != @customer %>
                        <% if current_customer.following?(@customer) %>
                        <button type="button" class="btn-outline-light btn"><%= link_to 'folloowを外す', customer_relationship_path(@customer), method: :delete %></button>
                      <% else %>
                        <button type="button" class="btn-outline-light btn">
                       <%= link_to 'follow', customer_relationships_path(@customer), method: :post %></button>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="inline-block">follower:<%= @customer.followed.count %></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mt-4 text-center">
                    <h1>SCORE</h1>
                    <table class="table table-striped">
                        <tr>
                            <th>50m</th>
                            <td><%= @customer.running_score %>秒</td>
                        </tr>
                        <tr>
                            <th>立ち幅跳び</th>
                            <td><%= @customer.jumping_score %>m</td>
                        </tr>
                        <tr>
                            <th>反復横跳び</th>
                            <td><%= @customer.agility_score %>回</td>
                        </tr>
                        <tr>
                            <th>上体起こし</th>
                            <td><%= @customer.sit_ups_score %>回</td>
                        </tr>
                        <tr>
                            <th>握力</th>
                            <td><%= @customer.grip_strength_score %>kg</td>
                        </tr>
                    </table>
                    <%= link_to "編集する",edit_customer_path(@customer.id), class:"col-md-12 btn btn-secondary" %>
                </div>
                <div class="col-lg-6 mt-4 text-center">
                    <h1>MYTEAM</h1>
                    <% @teams.each do |team| %>
                    <h2><%= link_to team_path(team.id) do %><%= team.name %>
                        <% end %>
                    </h2>
                    <%= attachment_image_tag team, :team_image, :fill, 300, 200, format: 'jpeg', fallback: "no_image.jpg" %>
                    <% end %>
                    <%= flash[:notice] %>
                    <%= link_to "NEW TEAM", new_team_path, class:"col-md-12 mt-3 btn btn-secondary" %>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mt-4 text-center">
                    <h3>募集情報</h3>
                    <% @recruitments.each do |recruitment| %>
                    <table class="table table-striped">
                        <tr>
                            <td><%= recruitment.date.strftime("%Y-%m-%d") %></td>
                            <td><%= recruitment.title %></td>
                            <td><%= recruitment.body %></td>
            　           </tr>
                    </table>
                    <% end %>
                </div>
                <%= link_to "募集する", new_recruitment_path, class:"col-md-12 btn btn-secondary" %>
            </div>
        </div>
    </div>
</div>

