<%= render 'layouts/c_header' %>


<div class="wrapper">
    <div class="page-header clear-filter page-header-small" filter-color="orange">
        <div class="page-header-image" data-parallax="true" style="background-image: url(&quot;../assets/img2.jpg&quot;);">
            <div class="container">
                <div class="row text-white">
                    <div class="col-lg-4">
                        <div class="photo-container">
                        <%= attachment_image_tag @customer, :profile_image, :fill, 250, 250, format: 'jpeg', fallback: "no_image.jpg" %>
                        </div>
                        <h1 class="text-center"><%= @customer.last_name %><%= @customer.first_name %></h1>
                    </div>
                    <div class="col-lg-8">
                        <div class="score">
                        <h1 class="text-center"><%= @customer.set_total %></h1>
                    </div>
                    </div>
                </div>

                    

   
        <p class="category">Photographer</p>

        <div class="content">
            <div class="social-description">
                <h2>26</h2>
                <p>Comments</p>
            </div>
            <div class="social-description">
                <h2>26</h2>
                <p>Comments</p>
            </div>
            <div class="social-description">
                <h2>48</h2>
                <p>Bookmarks</p>
            </div>
        </div>
</div>

    </div>
</div>


















<div class="section">
    <div class="container">
        <div class="button-container">
            <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
            <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="" data-original-title="Follow me on Twitter">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="" data-original-title="Follow me on Instagram">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</div>

    









<div class="container">
    <h3>合計値</h3>
    <h3><%= @customer.set_total %></h3>
    <h3>マイページ</h3>
    <div class="row">
    
        <table border="1">
            <tr>
                <td>氏名</td>
                <td>

                </td>
            </tr>
            <tr>
                <td>カナ</td>
                <td>
                </td>
            </tr>
            <tr>
                <td>メール</td>
                <td><%= @customer.email %></td>
            </tr>
            <tr>
                <td>50m</td>
                <td><%= @customer.running_score %>秒</td>
            </tr>
            <tr>
                <td>立ち幅跳び</td>
                <td><%= @customer.jumping_score %>m</td>
            </tr>
            <tr>
                <td>反復横跳び</td>
                <td><%= @customer.agility_score %>回</td>
             </tr>
             <tr>
                <td>上体起こし</td>
                <td><%= @customer.sit_ups_score %>回</td>
            </tr>
            <tr>
                <td>握力</td>
                <td><%= @customer.grip_strength_score %>kg</td>
            </tr>
        </table>
    </div>
    <%= link_to "編集する",edit_customer_path(@customer.id), class: 'btn btn-sm btn-primary' %>
    <h2>募集</h2>
    <%= link_to "募集する", new_recruitment_path, class: 'btn btn-sm btn-primary' %>

    <div class="row">
        <h2>募集履歴</h2>
        <% @recruitments.each do |recruitment| %>
            <table class="table">
                <tr>
                    <td><%= recruitment.title %></td>
                    <td><%= recruitment.body %></td>
    　           </tr>
            </table>
            <% end %>
    </div>
    <div class="row">
        <h2>マイチーム</h2>
                <table class="table">
                    <% @teams.each do |team| %>
                        <tr>
                            <td><%= team.name %><%= link_to '詳細', team_path(team.id) %><td>
                        </tr>
                      <% end %>
         <%= link_to "新しくチームを作る", new_team_path, class: 'btn btn-sm btn-primary' %>
    </div>
 
 <table border="1">
        <tr>
            <td>フォロー数：<%= @customer.follower.count %></td>
            <td>フォロワー数：<%= @customer.followed.count %></td>
        </tr>
</table>
 <table border="1">
        <tr>
            <% if current_customer != @customer %>
                <% if current_customer.following?(@customer) %>
                  <td><%= link_to 'フォロー外す', customer_relationship_path(@customer), method: :delete %></td>
                <% else %>
                  <td><%= link_to 'フォローする', customer_relationships_path(@customer), method: :post %></td>
                <% end %>
          <% end %>
        </tr>
</table>

</div>
