<%= render 'layouts/c_header' %>
<div class="container">
	<div class="row mt-5"><h2>おすすめ</h2></div>
	<div class="row">
	<% @customers.first(3).each do |customer| %>
		<div class="col-lg-4 col-md-6 col-sm-6 mt-5">
		    <div class="card card-stats">
		    	<div class="card-header card-header-warning card-header-icon">
		      		<div class="card-icon">
				        <%= attachment_image_tag customer, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg",size:'100x100' %>
				     </div>
				     <h4 class="card-category"><%= link_to customer.last_name,customer_path(customer) %></4>
				     <h2 class="card-title"><%= customer.set_total %><small>rate</small></h2>
				</div>
				<div class="card-footer">
				    <div class="stats">
				        <i class="material-icons text-danger">warning</i>
			        <a href="#pablo">Get More Space...</a>
			      	</div>
			    </div>
	  		</div>
		</div>
	<% end %>
	</div>
	<div class="row"><h4><%= link_to 'ユーザー一覧へ', customers_path %></h4></div>
    <div class="row mt-5"><h2>おすすめチーム</h2></div>
    <div class="row mt-5">
    	<% @teams.first(3).each do |team| %>
        <div class="col-lg-4 col-md-6 col-sm-6">
        	<div class="card card-starts">
        		<div class="card-header card-header-warning card-header-icon">
        			<div class="card-icon">
        			<%= attachment_image_tag team, :team_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
        			</div>
        			<h5 class="card-category"><%= link_to team.name,team_path(team) %></h5>
					<h3 class="card-title"><%= team.team_score %></h3>
				</div>
				<div class="card-footer">
				    <div class="stats">
				        <i class="material-icons text-danger">warning</i>
			        <a href="#pablo">Get More Space...</a>
			      	</div>
			    </div>
			</div>
		</div>
		<% end %>
	</div>
		<h5><%= link_to 'チーム一覧', customers_path %></h5>
　  <div class="row mt-5"><h2>対戦募集</h2></div>
    <div class="row">
		<% @recruitments.first(3).each do |recruitment| %>
		<table class="table">
			<tr>
			  <td><%= recruitment.date %></td>
			  <td><%= recruitment.title %></td>
			  <td><%= link_to '詳細へ',recruitment_path(recruitment) %></td>
			</tr>
	    <% end %>
		</table>
	    <h5><%= link_to '募集一覧', recruitments_path %></h5>
	</div>
</div>