<%= render 'layouts/c_header' %>
<div class="container">
    <div class="row">
        <div class="col-lg-12">

			<% @recruitments.first(3).each do |recruitment| %>
			<table class="table">
				<tr>
				  <td><%= recruitment.date %><%= recruitment.title %></td>
				</tr>
			<% end %>
		    </table>
			<%= link_to '募集一覧', recruitments_path %>

			<% @customers.first(3).each do |customer| %>
			<table class="table">
				<tr>
				  <td><%= customer.set_total %></td>
				  <td><%= customer.last_name %></td>
				</tr>
			<% end %>
		    </table>
			<%= link_to 'ユーザー一覧', customers_path %>

			<% @teams.first(3).each do |team| %>
			<table class="table">
				<tr>
				  <td><%= team.name %></td>
				  <td><%= team.team_score %></td>
				</tr>
			<% end %>
		    </table>
			<%= link_to 'チーム一覧', customers_path %>


        </div>
	</div>
</div>