<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <a class="navbar-brand" href="#"><%= link_to "Mesta", homes_path, class: "p-1 text-dark" %></a></a>
        <h5 class="my-0 mr-md-auto font-weight-normal"></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="" href="#"><%= link_to "メンバー", customers_path, class: "p-2 text-dark" %></a>
            <a class="" href="#"><%= link_to "チーム", teams_path, class: "p-2 text-dark" %></a>
            <a class="" href="#"><%= link_to "募集", recruitments_path, class: "p-2 text-dark" %></a>
            <a class="" href="#"><%= link_to customer_path(current_customer), class: "p-2 text-dark" do %>
                <%= current_customer.last_name %>
                <%= current_customer.first_name %>さん
            </a>
            <% end %>
        </nav>
        <%= link_to "Logout", destroy_customer_session_path, method: :delete, class:"btn btn-outline-primary" %>
</header>





